<header class="header my-7" >
    <a href="/" class="header_logo">Western Blog</a>

    <nav class="header__nav">

        <ul>
            <li> 
                 <a href="/">Home</a>
            </li>
            <li>
                <a href="/About">About</a>
                </li>
            <li>
                <a href="/Services">Services</a>
            </li>
            <li>
                <a href="/Contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button" >
        <button class="searchBtn" aria-expanded="false">
Search<span class="glyphicon 
glyphicon-search"></span>
        </button>
        <button class="signupBtn" aria-expanded="false">
SignUp<span class="glyphicon 
glyphicon-search"></span>
        </button>
        <button class="loginBtn" aria-expanded="false">
Login<span class="glyphicon 
glyphicon-search"></span>
        </button>
    </div>
  

</header>